.projectContainer {
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
        margin: 0%;
        color: white;
        font-weight: 600;
        span {
            color:#C778DD;
        }
    }
    .myProjects {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .top {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .bottom {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 628px;
        }
    }
}