.titleContainer {
    padding: 10px 200px;
    h1 {
        color: white;
        margin: 0;
        padding-top: 20px;
        span {
            color: #C778DD;
        }
    }
    p {
        color: gray;
        margin: 0%;
        padding-top: 10px;
    }

}