.nav {
    padding: 25px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav > .navs {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav > .navs a {
    color: white;
    text-decoration: none;
}
.nav > .navs a::before {
    content: "#";
    color: #C778DD;
}
.nav > .navs > select {
    background-color: transparent;
    color: white;
}

.icons {
    position: absolute;
    width: 30px;
    height: 250px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    gap: 5px;
}
.icons > .line {
    width: 2px;
    height: 130px;
    background-color: grey;
}